[grep]
	extendRegexp = true
[alias]
	g = grep --break --heading --line-number
	wdiff = diff --color-words
[user]
	name = Vivek Galatage
	email = vivek.vg@samsung.com
[core]
    excludesfile = /home/vivekg/.gitignore
[color "diff"]
    meta=black yellow
    frag=black white
    func=black white ul
    new=white green bold


